.text{
    position: absolute;
        width: 190px;
        height: 32px;
        left: 55px;
        top: 140px;
        
    
        font-family: 'Tomorrow';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
        /* identical to box height, or 200% */
    
        letter-spacing: -0.01em;
        text-transform: uppercase;
    
        /* Secondary/Blue 000 */
    
        color: #ECF0FF;
    
        opacity: 0.9;
}

.one{
    position: absolute;
    height: 15px;
        width: 15px;
        top: 150px;
        left: 21.88px;
    }

.vector{
position: absolute;
    height: 20px;
    width: 20px;
    top: 147px;
    left: 20px;
}